/*ahustar imagenes*/
img{
	width: 100%;
}
/*justifica el texto*/
p{
	text-align: justify;
}
/*espacio entre los elementos*/
.row{
	margin-bottom: 20px;
}
/*margenes para h1*/
h1{
	margin-top: 20px;
}
/*centra texto al lado de las imagenes*/
div.col-8{
	padding-top: 50px;
}
/*asigno un mismo largo de imagen para las imagenes pequeñas*/
div.col-4 img{
	height: 240px;
}