/*borde para elemntos y ancho*/
.borde{
	border:1px #0489B1 solid;
	height: 80px;
	border-radius: 10px;
}
/*espacio entre elemento*/
.row{
	margin-bottom: 20px;
}
/*estilo para el ultimo div*/
#boton{
	width: 50%;
	background-color: #81F7D8;
}
/*circulos*/
.circulo{
	border-radius: 100%;
	width: 80px;
	background-color: #A9F5E1;
}
/*junta los circulos*/
#mover{
	float: left;
	margin-left: 70px;	
}
/*margenes de h1*/
h1{
	margin-top: 20px;
}